/* Font */
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
li {
	list-style: none;
}
/*menu settings*/
.fixed {
	position: fixed; 
	top: 0;
	z-index: 1;
	width: 100%;
}
/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}


.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 250px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(images/one-add.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/new-york.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/ugg-joelene.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* MAIN PAGE STYLES */
body {
	margin: 0;
}
.inline-block {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	padding-left: 0;
}
.main-header {
	background: #000;
	padding: 0.5em 0;
}
.logo {
	margin-right: 1em;
}
ul.inline-block {
	margin-right: 5.9em;
}
ul.inline-block li {
	display: inline-block;
	background: #888;
	padding: 2px 5px 4px 5px;
	margin-right: 3px;
}
ul.inline-block li:hover {
	background: #ed1c24;
}
ul.inline-block li a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
	text-decoration: none;
}
.main-header-width {
	max-width: 940px;
	margin: auto;
}
.hot {
	color: #ed1c24;
	font-weight: 900;
	font-size: 13px;
	margin-right: 1em;
}
.search, .menu {
	font-size: 25px;
	margin: 0 0.3em;
}
.subscribe {
	font-size: 14px;
	background: #ed1c24;
	font-weight: 900;
	padding: 10px 15px;
	border-radius: 3px;
}
.main-secondary-menu {
	background: #ed1c24
}
.secondary-header {
	max-width: 940px;
	margin: auto;
	padding: 0.2em 0;
}
.secondary-header li {
	display: inline-block;;
	font-size: 12px;
	color: #fff;
	font-weight: 900;
}
.secondary-header li a {
	text-decoration: none;
	color: #fff;
	font-weight: 900;
	margin-right: 3em;
}
.nu-letter {
	margin: 0;
	display: inline-block;
}
.secondary-header ul {
	padding: 0;
	margin: 0;
}
input[type="search"] {
	border: 0;
	padding: 4px;
	margin-left: 5px;
}
.n-letter {
	display: inline-block;
	margin: 0;
	background: #000;
	font-size: 11px!important;
	line-height: 1!important;
	padding: 3px;
	border-radius: 4px;
	margin-left: -54px;
}
/* Screens */
.screen-one {
	max-width: 940px;
	margin: auto;
}
.screen-one ul {
	padding: 0;
	margin-top: 0;
}
.screen-one h3 {
	color: red;
	font-size: 28px;
	margin: 0;
	font-weight: 900;
	line-height: 2;
}
.gqi-one {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 16px;
}
.gqi-one:nth-child(2n) {
	margin-right: 16px;
}
.one h2 {
	background: none!important;
	color: #fff;
}
.tags {
	position: absolute;
	bottom: 45px;
	margin-left: 10px;
}
.tags p {
	display: inline-block;
	color: #fff;
	background: #000;
	font-weight: 900;
	text-transform: uppercase;
	padding: 0 3px;
	border-radius: 5px;
	font-size: 12px;
}
.tags h2 {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	letter-spacing: 0px;
	margin: 0;
	text-align: left;
	text-transform: inherit;
	background: #000;
	line-height: 1;
	padding: 0 3px;
	opacity: 1;
}
.outer-nargis {
	background: #000;
	padding: 1em 0;
}
.nargis {
	max-width: 940px;
	margin: auto;
}
.nargis img, .nargis-details {
	display: inline-block;
	color: #fff;
	vertical-align: top;
}
.nargis img {
	margin-right: 10px;
}
.nargis-details {
	width: 460px;
}
.nargis-details h2 {
	margin: 0;
	font-size: 36px;
	font-weight: 900;
	line-height: 1;
}
.nargis-details p {
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
}
tag {
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px;
	font-size: 12px;
	background: #ed1c24;
	border-radius: 5px;
	font-weight: 600;
}
tag:&hover {
	background: #e5e5e5;
	color: #000;
}
.bottom-nargis {
	margin-top: 1em;
	padding: 0;
}
.nargis li {
	display: inline-block;
	margin-bottom: 1em;
}
.sponsor {
	float: right;
	margin-top: 6.8em;
}
.sponsor-left {
	float: none;
	margin-top: 11em;
}
tags {
	text-transform: uppercase;
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 8px;
	font-size: 12px;
	font-family: "tablet-gothic-wide", sans-serif;
	border-radius: 5px;
	font-weight: bold;
}
.load {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}
.load div {
	text-align: center;
	display: inline-block;
	border: 2px solid #858585;
	padding: 1px;
}
.load p {
	font-size: 18px;
	font-weight: 900;
	color: #858585;
	border: 1px solid #858585;
	padding: 0.5em 8em;
	margin: 0;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}